*{
    margin: 0;
}

body{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    background-color: #e7ebee;
    max-width: 60vw;
    overflow: hidden;
}

header{
    background-color: rgb(212, 0, 255);
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    padding: 30px 50px;
   
}

.card{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 1px solid #e7ebee;
    border-radius: 3px;
    outline: none; /*remove borda que fica quando clica no input*/
}

button{
    border: 0;
    padding: 10px;
    outline: none;
    background-color: rgb(212, 0, 255);
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}
button:hover{
    background-color: rgb(161, 4, 192);
    cursor: pointer;
}

.content {
    margin-top: 15px;
}

table{
    max-width: 60vw;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse; /*borda da tabela - fina*/
    border: 1px solid #a9b0b6;
    width: 100vw;
    text-align: center;
}

table th{
    background-color: #d6d4d4;

}

table td img{
    width: 20px;
    
}

