body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}

h1{
    color: white;
}

button{
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: white;
    cursor: pointer;
}

.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: grey;
}

.stop-btn{
    background-color: red;
}

a{
    display: flex;
    margin-top: 200px;
   margin-left: 50px;
   text-decoration: none;
}