*{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
}

.colors {
    display: flex;
    width: 20%;
    border: 1px solid black;
    align-items: center; 
    justify-content: center;
}

.btn{
    position: fixed;  /*vai lá pro canto superior esquerdo*/
    top: 750px;
    left: 47%;
    cursor: pointer;
}